<div class="row">
    <!-- Left Side -->
    <div class="col-xs-2 card-wrapper">
        <div class="card shadow-sm text-muted text-center " style="width: 18rem;">
            <h5 class="card-header text-muted text-center ">
                Anthony Crawford
            </h5>
            <img [src]="" class="card-img-top" alt="">
            <div class="card-body">
            <p class="card-text">Lorem Ipsum</p>
            </div>
            <div class="card-footer text-muted text-center ">Username</div>
            <ul class="list-group list-group-flush" >
                <li class="list-group-item">
                    <a>subant05</a>
                </li>
            </ul>
            <div class="card-footer text-muted text-center ">Oil Brands Used</div>
            <ul class="list-group list-group-flush" >
                <li class="list-group-item">
                    <a>Doterra</a>
                </li>
                <li class="list-group-item">
                    <a>Young Living</a>
                </li>
            </ul>
            <div class="card-footer text-muted text-center ">Interests</div>
            <ul class="list-group list-group-flush" >
                <li class="list-group-item">
                    <a>Medicinal</a>
                </li>
                <li class="list-group-item">
                    <a>Beauty</a>
                </li>
                <li class="list-group-item">
                    <a>Relazation</a>
                </li>
            </ul>
            <div class="card-footer text-muted text-center ">
                <div class="btn btn-primary">Edit</div>
            </div>

        </div>    
    </div>
    <!-- Right Side -->
    <div class="col-md-8">
        <main role="main" class="container">
            <div class="d-flex align-items-center p-3 my-3 text-white-50 rounded shadow-sm timeline-header">
                <div class="lh-100">
                    <h4 class="mb-0 lh-100">Timeline</h4>
                </div>
            </div>

            <div class="my-3 p-3 bg-white rounded shadow-sm">
                <h6 class="border-bottom border-gray pb-2 mb-0">Recent updates</h6>
                <div class="media text-muted pt-3">
                    <app-image-placeholder [width]="'32px'" [height]="'32px'" [margin]="'0 10px'"></app-image-placeholder>
                    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <strong class="d-block text-gray-dark">@username</strong>
                    Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                    </p>
                </div>
                <div class="media text-muted pt-3">
                    <app-image-placeholder [width]="'32px'" [height]="'32px'" [margin]="'0 10px'"></app-image-placeholder>
                    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <strong class="d-block text-gray-dark">@username</strong>
                    Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                    </p>
                </div>
                <div class="media text-muted pt-3">
                    <app-image-placeholder [width]="'32px'" [height]="'32px'" [margin]="'0 10px'"></app-image-placeholder>
                    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <strong class="d-block text-gray-dark">@username</strong>
                    Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                    </p>
                </div>
            </div>
        </main>
    </div>
</div>
