<div class="row">
    <!-- Left Side -->
    <div class="col-xs-2 card-wrapper">
        <form (ngSubmit)="onSubmit()" [formGroup]="profileForm">
        <div class="card shadow-sm text-muted text-center " style="width: 18rem;">
                <h5 class="card-header text-muted text-center ">
                    <span *ngIf="!isProfileEdit">Anthony Crawford</span>
                    <input type="text" class="form-control" formControlName="name" *ngIf="isProfileEdit">
                </h5>
                <img [src]="" class="card-img-top" alt="">
                <div class="card-footer text-muted text-center ">Description</div>
                <div class="card-body">
                    <p class="card-text" *ngIf="!isProfileEdit">
                        Lorem Ipsum
                    </p>
                    <textarea type="text" class="form-control" formControlName="description" *ngIf="isProfileEdit"></textarea>
                </div>
                <div class="card-footer text-muted text-center ">Username</div>
                    <div class="card-body">
                        <p class="card-text" *ngIf="!isProfileEdit">
                            SubantO5
                        </p>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" formControlName="username" *ngIf="isProfileEdit">
                    </div>
                <div class="card-footer text-muted text-center ">Oil Brands</div>
                <ul class="list-group list-group-flush" *ngIf="!isProfileEdit">
                    <li class="list-group-item">
                        <a>Doterra</a>
                    </li>
                    <li class="list-group-item">
                        <a>Young Living</a>
                    </li>
                </ul>
                <div class="card-body text-center "  *ngIf="isProfileEdit">
                    <div>
                        <div class="col-xs-12" formArrayName="brands">
                            <div
                            class="form-row"
                            *ngFor="let brandsCtrl of brands; let i = index"
                            style="margin-top: 10px;">
                                <div class="col-md-8">
                                    <select 
                                        [formGroupName]="i"
                                        class="form-control" 
                                        id="oil" 
                                        (change)="onBrandChange($event)">
                                            <option [value]="brand.value"  *ngFor="let brand of oilBrands;let i = index" [selected]="!i">{{brand.label}}</option>
                                            <option value="other">Other</option>
                                    </select>
                                    <input type="hidden" class="form-control"  [formGroupName]="i">
                                </div>
                                <div class="col-xs-2">
                                    <button
                                        type="button"
                                        class="btn btn-secondary"
                                        (click)="onDeleteBrand(i)">
                                        X
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="invalid-feedback"  [style]="{'display': profileForm.get('brands').touched && !profileForm.get('brands').value.length ? 'block' : 'none'}">
                            Please add an oil brand.
                        </div>
                        <hr>
                        <button
                        type="button"
                        class="btn btn-outline-primary"
                        (click)="onAddOilBrand()">Add Brand</button>
                    </div>    
                </div>

                <div class="card-footer text-muted text-center ">Interests</div>
                <ul class="list-group list-group-flush" *ngIf="!isProfileEdit">
                    <li class="list-group-item">
                        <a>Medicinal</a>
                    </li>
                    <li class="list-group-item">
                        <a>Beauty</a>
                    </li>
                    <li class="list-group-item">
                        <a>Relazation</a>
                    </li>
                </ul>
                <div class="card-body text-center "  *ngIf="isProfileEdit">
                    <div>
                        <div class="col-xs-12" formArrayName="interests">
                            <div
                            class="form-row"
                            *ngFor="let interestsCtrl of interests; let i = index"
                            style="margin-top: 10px;">
                                <div class="col-md-8">
                                    <select 
                                        [formGroupName]="i"
                                        class="form-control" 
                                        id="oil" 
                                        (change)="onBrandChange($event)">
                                            <option [value]="interest"  *ngFor="let interest of profileInterests;let i = index" [selected]="!i">{{interest| capitalize}}</option>
                                    </select>
                                </div>
                                <div class="col-xs-2">
                                    <button
                                        type="button"
                                        class="btn btn-secondary"
                                        (click)="onDeleteInterest(i)">
                                        X
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="invalid-feedback"  [style]="{'display': profileForm.get('brands').touched && !profileForm.get('brands').value.length ? 'block' : 'none'}">
                            Please add an intetest.
                        </div>
                        <hr>
                        <button
                        type="button"
                        class="btn btn-outline-primary"
                        (click)="onAddInterest()">Add Interest</button>
                    </div>    
                </div>

        </div>
        <div class="profileEditButtonArea">
            <div class="form-row"  *ngIf="isProfileEdit">
                <div class="col">
                    <button class="btn btn-primary col-md-12" (click)="onExitEditMode()">Cancel</button>
                </div>
                <div class="col">
                    <button class="btn btn-primary col-md-12" (click)="onSubmit()">Save</button>
                </div>
            </div>
            <div class="form-group"  *ngIf="!isProfileEdit">
                <button class="btn btn-primary col-md-12" (click)="onEnterEditMode()">Edit</button>
            </div>   
        </div>

    </form>

    </div>
    <!-- Right Side -->
    <div class="col-md-8">
        <main role="main" class="container">
            <div class="d-flex align-items-center p-3 my-3 text-white-50 rounded shadow-sm timeline-header">
                <div class="lh-100">
                    <h4 class="mb-0 lh-100">Timeline</h4>
                </div>
            </div>

            <div class="my-3 p-3 bg-white rounded shadow-sm">
                <h6 class="border-bottom border-gray pb-2 mb-0">Recent updates</h6>
                <div class="media text-muted pt-3">
                    <app-image-placeholder [width]="'32px'" [height]="'32px'" [margin]="'0 10px'"></app-image-placeholder>
                    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <strong class="d-block text-gray-dark">@username</strong>
                    Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                    </p>
                </div>
                <div class="media text-muted pt-3">
                    <app-image-placeholder [width]="'32px'" [height]="'32px'" [margin]="'0 10px'"></app-image-placeholder>
                    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <strong class="d-block text-gray-dark">@username</strong>
                    Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                    </p>
                </div>
                <div class="media text-muted pt-3">
                    <app-image-placeholder [width]="'32px'" [height]="'32px'" [margin]="'0 10px'"></app-image-placeholder>
                    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <strong class="d-block text-gray-dark">@username</strong>
                    Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                    </p>
                </div>
            </div>
        </main>
    </div>
</div>
