    <div class="col-xl-12 form-container">
        <h1 class="text-center">Add A Blend</h1>

        <form [formGroup]="recipeForm" (ngSubmit)="onSubmit($event)">
            <div class="form-group">
                <label for="name" class="col-sm-2 col-form-label">Name</label>
                <input 
                    type="text" 
                    id="name" 
                    class="form-control form-control-lg" 
                    placeholder="Blend name.." 
                    formControlName="name">
            </div>
            <div class="form-group">
                <label for="description" class="col-sm-2 col-form-label">Description</label>
                <textarea 
                    id="description" 
                    class="form-control form-control-lg" 
                    placeholder="Describe your blend"
                    formControlName="description"></textarea>
            </div>
            <label class="col-sm-2 col-form-label" for="customFile">Picture</label>
            <div class="form-group">
                <div class="custom-file">
                    <input 
                        type="file" 
                        class="custom-file-input" 
                        id="customFile"
                        name="imageUrl"
                        formControlName="imageUrl">
                    <label class="custom-file-label" for="customFile">JPEG, GIF, PNG Only</label>
                  </div>
            </div>
            <label class="col-sm-2 col-form-label" for="customFile">Application</label>
            <div class="form-group" formGroupName="uses">
                <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" id="Aromatic" name="Aromatic" class="custom-control-input" formControlName="aromatic" value="aromatic">
                    <label class="custom-control-label" for="Aromatic">Aromatic</label>
                </div>
                <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" id="Topical" name="Topical" class="custom-control-input" formControlName="topical" value="topical">
                    <label class="custom-control-label" for="Topical">Topical</label>
                </div>
                <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" id="Internal" name="Internal" class="custom-control-input" formControlName="internal" value="internal">
                    <label class="custom-control-label" for="Internal">Internal</label>
                </div>
            </div>
            <hr>
            <div class="form-group">
                <label for="oil" class="col-sm-2 col-form-label">Oils Used</label>
                <button
                type="button"
                class="btn btn-outline-primary"
                (click)="onAddOil()">Add Oil</button>
            </div>
                <div class="col-xs-12" formArrayName="oils">
                    <div
                    class="form-row"
                    *ngFor="let oilCtrl of oils; let i = index"
                    [formGroupName]="i"
                    style="margin-top: 10px;">
                    <div class="col-md-5">
                        <select class="form-control" id="oil" formControlName="brand">
                            <option value="doterra">Doterra</option>
                            <option value="young-living" selected>Young Living</option>
                        </select>
                    </div>
                    <div class="col-md-5">
                      <input
                        type="text"
                        class="form-control"
                        formControlName="name">
                    </div>

                    <div class="col-xs-2">
                      <button
                        type="button"
                        class="btn btn-secondary"
                        (click)="onDeleteOil(i)">X</button>
                    </div>
                </div>
            </div>
            <hr>
            <div class="form-row">
                <div class="col">
                    <button class="btn btn-lg btn-primary btn-block" type="button" (click)="onCancel()" >Cancel</button>
                </div>
                <div class="col">
                    <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!recipeForm.valid">Add Blend</button>
                </div>
            </div>
        </form>
    </div>