.form-container{
    margin-top: 20px;
    h1 {
        margin-bottom: 20px;
    }
    padding-bottom:20px;
}
img {
    max-height: 300px;
}

.col-form-label {
    padding-left: 0;

    &.required::after {
        content:"*";
        color:red;
    }
}
.add-button{
    margin-top: 10px;
}

.form-row {
    &.add-category,
    &.add-oil{
        margin-bottom: 25px;
        background-color: #eee;
        padding: 10px;
        border-radius: 5px;
    }
}

.application-checkbox {
    padding-left: 1.25rem;

    @media screen and (min-width:414px){
        padding-left: 1.5rem;
    }
}
