  <!-- Begin Search Form -->
  <div class="row recipes-search sticky-top">
    <form class="form-inline" [formGroup]='searchForm' (ngSubmit)="onSearch()">
      <div class="form-group col-12">
        <input 
            type="text" 
            value="" 
            class="form-control shadow-sm" 
            id="search" 
            placeholder="Search for a blend"
            formControlName="search"
            (keyup)="onSearch()">
      </div>
    </form>
  </div>
  <!-- End Search Form -->