/* You can add global styles to this file, and also import other style files */
button,
input,
checkbox,
select,
.btn {
    border-radius: 3px !important;
}

.custom-file-label,
input,
text,
textarea,
select,
.custom-control-label::after{
    border: 1px solid #ccc !important;
}

.form-container{
    max-width: 640px;
    margin: 25% auto;
}


.btn-primary {
    background-color: #1a1a1a !important;
    border-color: #1a1a1a !important;
}
.btn-secondary{
    color: #212529 !important;
    background: transparent;
}
.btn-outline-primary{
    color: #1a1a1a !important;
    border-color: #1a1a1a !important;
    border: 1px solid #1a1a1a !important;
}

.custom-control-input:checked~.custom-control-label:before{
    border-color: #1a1a1a !important;
    background-color: #1a1a1a !important;
}