/* You can add global styles to this file, and also import other style files */
button,
input,
checkbox,
select,
.btn {
    border-radius: 3px !important;
}

.custom-file-label,
input,
text,
radio,
checkbox,
textarea,
select{
    border: 1px solid #ccc !important;
}

.form-container{
    max-width: 720px;
    margin: 25% auto;
}