<div class="row">
    <div class="col-xl-12 form-container">
        <h1 class="text-center">{{ isLoginMode ? 'Sign In' : 'Sign Up'}}</h1>
        <form class="form-signin" (ngSubmit)="onSubmit()" [formGroup]="signInForm" *ngIf="isLoginMode">
            <div class="form-group" formGroupName="login">
                <label for="inputEmail" class="sr-only">Email address</label>
                <input type="email" 
                    id="inputEmail" 
                    class="form-control" 
                    placeholder="Email address" 
                    formControlName="email">
            </div>
            <div class="form-group"  formGroupName="login">
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" 
                    id="inputPassword" 
                    class="form-control" 
                    placeholder="Password"
                    formControlName="password">
            </div>
            <button class="btn btn-lg btn-primary btn-block" [disabled]="!signInForm.valid" type="submit">{{ isLoginMode ? 'Sign In' : 'Sign Up'}}</button>
        </form>
        <form class="form-signin" (ngSubmit)="onSubmit()" [formGroup]="signUpForm" *ngIf="!isLoginMode">
            <div class="form-group" formGroupName="login">
                <label for="inputEmail" class="sr-only">Email address</label>
                <input type="email" 
                    id="inputEmail" 
                    class="form-control" 
                    placeholder="Email address" 
                    formControlName="email">
            </div>
            <div class="form-group"  formGroupName="login">
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" 
                    id="inputPassword" 
                    class="form-control" 
                    placeholder="Password"
                    formControlName="password">
            </div>
            <div class="form-group"   formGroupName="login" *ngIf="!isLoginMode">
                <label for="inputPassword" class="sr-only">Confirm Password</label>
                <input type="password" 
                    id="inputConfirmPassword" 
                    class="form-control" 
                    placeholder="Confirm Password"
                    formControlName="confirmPassword">
            </div>
            <button class="btn btn-lg btn-primary btn-block" [disabled]="!signInForm.valid" type="submit">{{ isLoginMode ? 'Sign In' : 'Sign Up'}}</button>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-xl-12">
        <hr>
        <p class="float-right">
            {{isLoginMode ? 'Don\'t have an account?' : 'Do you have an account?' }} 
            <a class="signup-link" 
            (click)="onSwitchLoginState()">
                <u>{{ isLoginMode ? 'Sign Up' : 'Sign In'}}</u>
            </a>
        </p>
    </div>
    
</div>
