<div class="col-sm card-wrapper" (click)="onGetDetails()">
    <div class="card shadow-sm" style="width: 18rem;">
      <h5 class="card-header">{{recipe.name | capitalize}}</h5>
      <img [src]="recipe.imageUrl || defaultPicture" class="card-img-top" [alt]="recipe.name">
      <div class="card-body">
        <p class="card-text">{{recipe.description | ellipsis | capitalize}}</p>
        <span  *ngFor="let useKey of Object.keys(recipe.uses)">
          <small class="use badge badge-light" *ngIf="recipe.uses[useKey]" >{{useKey | capitalize}}</small>
        </span>
      </div>
    </div>    
  </div>
  