
<app-search (search)="onSearchUpdate($event)"></app-search>
<div *ngIf="recipeTracker.length; else norecipes">
    <div class="list-group shadow-sm">
        <a class="list-group-item list-group-item-action"  
            data-toggle="modal" 
            data-target="#details"
            *ngFor="let recipe of recipeTracker.array; let i = index;"
            (click)="getDetails(i)">
                <div class="d-flex w-100 justify-content-between">
                    <h4 class="mb-1">{{recipe.name | capitalize}}</h4>
                    <small>{{recipe.modified | daysAgo}}</small>
                </div>
                <p class="mb-1">{{recipe.description | capitalize}}</p>
                <span  *ngFor="let useKey of Object.keys(recipe.uses)">
                    <small class="use badge badge-primary" *ngIf="recipe.uses[useKey]" >{{useKey | capitalize}}</small>
                </span>
        </a>
    </div>
    <!-- Modal -->
    <div *ngIf="modalData" class="modal fade" id="details" tabindex="-1" role="dialog" aria-labelledby="details" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card mb-3 mx-auto">
                    <h3 class="card-header">{{modalData.name}}</h3>
                    <img style="width: 100%; display: block;" [src]="modalData.imageUrl || defaultPicture" [alt]="modalData.name">
                    <div class="card-body">
                      <p class="card-text text-left">{{modalData.description | capitalize}}</p>
                    </div>
                    <div class="card-footer text-muted text-center ">Oils</div>
                    <ul class="list-group list-group-flush" *ngFor="let oil of modalData.oils; let i = index;">
                      <li class="list-group-item">
                          <span>{{oil.brand | capitalize}}</span> : 
                          <span>{{oil.name}}</span> : 
                          <small class="use badge badge-primary">{{oil.drops}}</small>
                      </li>
                    </ul>
                    <div class="card-footer text-muted text-center ">Usage</div>
                    <ul class="list-group list-group-flush" *ngFor="let use of Object.keys(modalData.uses)">
                        <li class="list-group-item" *ngIf="modalData.uses[use]">
                            <span>{{use | capitalize}}</span>
                        </li>
                    </ul>
                    <div class="card-footer text-muted text-center ">Category</div>
                    <ul class="list-group list-group-flush" *ngFor="let category of modalData.categories">
                      <li class="list-group-item">
                          <span>{{category | capitalize}}</span>
                      </li>
                    </ul>
                  </div>
            </div>
            <div class="modal-footer">
                <div class="btn-toolbar justify-content-between recipe-modal-footer" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group justify-content-left" role="group" aria-label="Delete group" (click)="onDelete(modalData.id)">
                        <button type="button" class="btn btn-danger justify-content-left" data-dismiss="modal">Delete</button>
                    </div>
                    <div class="btn-group" role="group" aria-label="Edit and Close group">
                        <a class="btn btn-secondary"  data-dismiss="modal" [routerLink]="['/account','edit-blend',modalData.id]">Edit</a>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <app-pagination (bottom)="onLoadMore()"></app-pagination>
    <app-spinner [show]="isQuerying"></app-spinner>
</div>
<ng-template #norecipes>
    Please add your recipes
</ng-template>