<div class="card mb-3 shadow mx-auto" *ngIf="recipe">
    <h3 class="card-header">{{recipe.name}}</h3>
    <img style="width: 100%; display: block;" [src]="recipe.imageUrl" [alt]="recipe.name">
    <div class="card-body">
      <p class="card-text text-left">{{recipe.description | capitalize}}</p>
    </div>
    <div class="card-footer text-muted text-center ">Oils</div>
    <ul class="list-group list-group-flush" *ngFor="let oil of recipe.oils; let i = index;">
      <li class="list-group-item">
          <span>{{oil.brand | capitalize}}</span> : 
          <span>{{oil.name}}</span>
      </li>
    </ul>
    <div class="card-footer text-muted text-center ">Usage</div>
    <ul class="list-group list-group-flush" *ngFor="let use of Object.keys(recipe.uses)">
        <li class="list-group-item" *ngIf="recipe.uses[use]">
            <span>{{use | capitalize}}</span>
        </li>
      </ul>
  </div>